.RML-login-modal-overlay {
  background-color: black;
}

.RML-login-modal-mode > div {
  background-color: transparent;
  border: 1px solid black;
}

.create-account {
  color: yellow;
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.buttonDiv {
  display: block;
  margin-top: 40px;
}

.RML-login-modal-box .RML-login-modal-form button {
  width: 100%;
}